@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  src: url('/font/roboto-mono.ttf');
}
body {
  font-size: 0.8em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
hr {
  border: 0;
  border-top: 1px solid #000000;
}
